h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    color: #0e341c;

    @include bkp-max(md) {
        font-size: 28px;
    }

    &.bold {
        font-weight: 700;
    }
}