.barracks-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .troop-block {
        blockquote  {
            margin-top: 2rem !important;
            margin-bottom: 0 !important;
        }
    } 

    table {
        th, td {
            padding: 0.5rem 0.5rem;
        }
    }

    @include bkp-max(md) {
        img {
            display: none;
        }
    }
}

